<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :given_name %>
    <%= form.text_field :given_name, id: :student_given_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, id: :student_middle_name %>
  </div>

  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name, id: :student_family_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :student_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :grade_point_average %>
    <%= form.text_field :grade_point_average, id: :student_grade_point_average %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :student_start_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
