<p id="notice"><%= notice %></p>

<h1>Students</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Given name</th>
    <th scope="col">Middle name</th>
    <th scope="col">Family name</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Grade point average</th>
    <th scope="col">Start date</th>
    <th scope="col">Awards</th>
    <th scope="col">Courses</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td><%= student.given_name %></td>
        <td><%= student.middle_name %></td>
        <td><%= student.family_name %></td>
        <td><%= student.date_of_birth %></td>
        <td><%= student.grade_point_average %></td>
        <td><%= student.start_date %></td>
        <td><%= student.awards.count %></td>
        <td><%= student.courses.count %></td>
        <td><a <%= "href=#{"students/"}#{student.id}" %> type="button" class="btn btn-primary btn-sm" >Show</a></td>
        <td><a <%= "href=#{student_awards_path(student)}" %> type="button" class="btn btn-primary btn-sm" >Awards</a></td>
        <td><a <%= "href=#{courses_student_path(student)}" %> type="button" class="btn btn-primary btn-sm" >Courses</a></td>
        <% if current_user %>
            <td><a <%= "href=#{edit_student_path(student)}" %> type="button" class="btn btn-primary btn-sm" >Edit</a></td>
            <td> <a class="btn btn-primary btn-sm" id="Delete" data-confirm="Are you sure?" data-method="delete" <%= "href=#{"students/"}#{student.id}" %> rel="nofollow">Delete</a> <td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>



<br></br>
<% if current_user %>

    <a <%= "href=#{new_student_path}" %> class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Student</a>

<% else %>
    <button type="button" class="btn btn-secondary btn-lg" disabled>New Student</button>
<% end %>
<br></br>

