<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Enrolled</th>
    <th colspan="3"></th>

  </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.students.count %></td>
        <td><a <%= "href=#{"courses/"}#{course.id}" %> type="button" class="btn btn-primary btn-sm" >Show</a></td>
        <td><a <%= "href=#{edit_course_path(course)}" %> type="button" class="btn btn-primary btn-sm" >Edit</a></td>
        <td> <a class="btn btn-primary btn-sm" id="Delete" data-confirm="Are you sure?" data-method="delete" <%= "href=#{"courses/"}#{course.id}" %> rel="nofollow">Delete</a> <td>
      </tr>
    <% end %>
  </tbody>
</table>

<br></br>

<% if current_user %>
    <a <%= "href=#{new_course_path}" %> class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Course</a>
<% else %>
    <button type="button" class="btn btn-secondary btn-lg" disabled>New Course</button>
<% end %>
<br></br>
